body{
    background-color: rgb(240,244,245);
}
/* nav bar  */
head{
    display: inline;
}
header{
    margin-top: 50px;
    display: inline-grid;
    grid-template-areas: 
    'hright hright hleft hleft'
    'hright hright hleft hleft';
    grid-template-columns: 10fr;
    grid-gap: 400px;
    
}
.hright{
    grid-area: hright;
    margin-left: 100px ;
}
.hleft{
    grid-area: hleft;
    margin-top: 20px;
    
}
.hleft a{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap:3.5px;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 600;
}
/* main section   */
fieldset{
    height: 450px;
    width: 400px;
    position: relative;
    top: -200px;
    margin: auto;
    display: block;
    background-color: rgb(240,244,245);
    border-radius: 10px;
    box-shadow:slategray 2.5px 2.5px 7.5px 7.5px;
}
fieldset p{
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}
section{
    display: inline-grid;
    font-size: 600;
    font-weight: bold;
}
section label{
    margin: 10px 0px;
    /* margin */
}
section input{
    height: 30px;
    width: 400px;
    justify-content: center;
    align-items: center;
    justify-self: center;
}